body {
    background: #2a2a2a;
    color: #fefefe;
    font-family: monospace;
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(75ch, 95vw);
}

a {
    color: #fefefe;
    text-decoration: underline;
}

a:hover {
    color: #8b8b8b;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-size: large;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: larger;
}

ul {
    list-style: none;
}
 
ul li:before {
    color: #fefefe;
    content: '- ';
    font-weight: bold;
}

li {
    margin-top: 0.25em;
    margin-bottom: 0.25;
}

code {
    background: #181818;
    padding: 0 1ch;
    white-space: nowrap;
}

pre {
    background: #181818;
    padding: 2ch 1ch;
    overflow-x: scroll;
    padding-bottom: 2ch;
}

.small {
    font-size: small;
}

summary {
    cursor: pointer;
    font-style: italic;
    margin-left: -1em;
}

details {
    margin-left: 2em;
}

small {
  font-size: smaller;
}
